= form_with(model: service, class: 'w-50') do |form|
  - if service.errors.any?
    #error_explanation
      %h2
        Возникли ошибки
      %ul
        - service.errors.each do |error|
          %li= error.full_message
  = form.label :category, 'Категория'
  .input-group.mb-3
    = form.select :category, Service.categories, {}, {class: 'selectpicker', data: {liveSearch: 'true'}}
  = form.label :name, 'Название'
  .input-group.mb-3
    = form.text_field :name, class: "form-control"
  = form.label :price, 'Стоимость'
  .input-group.mb-3
    = form.text_field :price, class: 'form-control'
    .input-group-append
      %span.input-group-text BYN
  .actions
    = form.submit 'Создать', class: 'btn btn-primary'
