#myCarousel.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    - if !user_signed_in?
      %li{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li.active{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    - if !user_signed_in?
      .carousel-item
        = image_tag "home-1.jpg", class: "first-slide w-100"
        .container
          .carousel-caption
            %h1 Лучшее местро для вечеринки
            %p Удобная мебель и стильные интерьеры позволят вам отметить любое событие со стилем и весельем.
            %p
              = button_to "Зарегистрироваться", new_user_registration_path, class: "btn btn-lg btn-primary", method: :get
    .carousel-item
      = image_tag "home-2.jpeg", class: "second-slide w-100"
      .container
        .carousel-caption
          %h1 Современное оборудование - только для вас.
          %p Консоли следующего поколения и 4K экраны для вашей вечеринки.
          %p
            %a.btn.btn-lg.btn-primary{href: "#", role: "button"} Узнать больше
    .carousel-item.active
      = image_tag "home-3.jpg", class: "third-slide w-100"
      .container
        .carousel-caption
          %h1 12 локаций в минске.
          %p Выберите удобное расположение.
          %p
            %a.btn.btn-lg.btn-primary{href: "#", role: "button"} Перейти к карте
  %a.carousel-control-prev{"data-slide" => "prev", href: "#myCarousel", role: "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", href: "#myCarousel", role: "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next
.container.marketing.mt-4
  %hr.featurette-divider
  = button_to "Новая резервация", new_reservation_path, class: "btn btn-lg btn-primary w-100", method: :get
  %hr.featurette-divider
  - if @reservations&.any?
    %span.font-weight-bold.display-3.text-primary
      Ваши резервации
    - @reservations.each do |reservation|
      .col.card.border-primary.m-3
        .card-body
          %h5.card-title="Резервация в #{reservation.event.organization.name}"
          %p.card-subtitle.text-muted="Дата и время: #{reservation.event.start_date.strftime("%d/%m/%Y %H:%M")}"
          %p.card-subtitle.text-muted="Комната: #{reservation.room.number}"
          %p.card-subtitle.text-muted="Услуги: #{reservation.services.map(&:name).join(', ')}"
          %p.card-subtitle.text-muted="Цена: #{reservation.price} BYN"

    %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Просторные комнаты
        %span.text-muted До 12 гостей.
      %p.lead Удобное место для посиделок с караоке, настольными играми, просмотра спортивных передач или фильма. Закажите доставку еды, расслабьтесь и наслаждайтесь живым общением с друзьями.
    .col-md-5
      = image_tag "home-feature-1.jpg", class: "featurette-image img-fluid mx-auto"
  %hr.featurette-divider
  .row.featurette
    .col-md-7.order-md-2
      %h2.featurette-heading
        Сервисы.
      %p.lead Добавьте все необходимое с помощью удобного конфигуратора услуг.
    .col-md-5.order-md-1
      = image_tag "home-feature-2.jpg", class: "featurette-image img-fluid mx-auto"
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Спортивные трансляции.
      %p.lead Спорт-бары ушли в прошлое - у нас есть все, чтобы с комфортом смотреть любимую игру. Гораздо приятнее смотреть Лигу чемпионов в компании друзей и с комфортом, зная, что никто не побеспокоит.
    .col-md-5
      = image_tag "home-feature-3.jpg", class: "featurette-image img-fluid mx-auto"
  %hr.featurette-divider
%footer.container
  %p.float-right
    %a{href: "#"} Наверх
  %p
    © 2017-2018 Company, Inc. ·
    %a{href: "#"} Защита персональных данных
    ·
    %a{href: "#"} Условия использования
