%h2.mb-4
  = current_user.name 
  | Настройки профиля
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'edit-user', multipart: true }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .row
    .col-md-4.text-center
      .form-group
        - if current_user.avatar.url.present?
          = image_tag current_user.avatar.url, class: 'rounded-circle text-center'
    .col-md-8
      .form-group
        = f.label 'Имя', class: 'form-label'
        = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
      
      .form-group
        = f.label :email, class: 'form-label'
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.file_field :avatar, class: 'form-control', id: 'avatarField', type: 'file'
        -# = f.label :avatar, "Avatar", class: 'input-group-text', for: 'avatarField'
        
      = f.hidden_field :avatar_cache
  .form-group
    = f.label :password, 'Новый пароль', class: 'form-label'
    %i (Если не нужно менять пароль, оставьте поле пустым)
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
    - if @minimum_password_length
      %em
        Минимум #{@minimum_password_length} символов
  .form-group
    = f.label :password_confirmation, 'Подтвердите пароль'
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
    %hr/
  .form-field
    = f.label :current_password, 'Текущий пароль'
    %i (Чтобы применить изменения, введите текущий пароль)
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
  .actions.mt-3
    = f.submit "Сохранить", class: "btn btn-primary"
    = link_to "Назад", :back
  %hr/
.form-group
  %label.d-block.text-danger Удалить аккаунт
  %p.text-muted.font-size-sm Вы можете удалить свой аккаунт и все данные, которые в нем сохранены. Это необратимо.
  = button_to 'Удалить аккаунт', registration_path(current_user), class: 'btn btn-danger', data: { confirm: "Вы уверены?", toggle: 'modal', target: '#passwordModal'}, method: :delete