%h2
  = current_user.name 
  | Account settings
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'edit-user'}) do |f|
  = render "devise/shared/error_messages", resource: resource
  .form-group
    = f.label :name, class: 'form-label'
    %br6
    = f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control'
  .form-group
    = f.label :email, class: 'form-label'
    %br6
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-group
    = f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
    - if @minimum_password_length
      %br/
      %em
        = @minimum_password_length
        characters minimum
  .form-group
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .form-field
    = f.label :current_password
    %i (we need your current password to confirm your changes)
    %br/
    = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
  .actions.mt-3
    = f.submit "Update", class: "btn btn-primary", method: :update
    = link_to "Back", :back
  %hr/
  .form-group
    = f.label 'Delete Account', class: 'd-block text-danger'
    %p.text-muted.font-size-sm Once you delete your account, there is no going back. Please be certain.
    = button_to 'Cancel account', registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete