= javascript_pack_tag 'datepicker', 'data-turbolinks-track': true
= stylesheet_link_tag 'dhtmlxscheduler_material', media:'all','data-turbolinks-track': true
= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track': true
= javascript_include_tag 'ext/dhtmlxscheduler_limit', 'data-turbolinks-track': true
= javascript_include_tag 'ext/dhtmlxscheduler_recurring', 'data-turbolinks-track': true
= javascript_include_tag 'locale/locale_ru.js', 'data-turbolinks-track': true
%h2 Новая резервация
#organization-section
  %hr
  %h4 Организация и комната
  %p Выберите организацию, в которой будет производиться резервация
  = select(:organization, :organization_id, Organization.all.order(name: 'asc').pluck(:name, :id), {}, {class: 'selectpicker w-50', data: {liveSearch: 'true'}})
  %p.mt-2 Выберите желаемую комнату:
  = select(:room, :room_id, {'1': 1, '2':2}, {}, {class: 'selectpicker w-50'})
= Gon::Base.render_data
#date-section
  %hr
  %h4 Дата
  %p Выберите дату резервации
  %input.datepicker.form-control.input-lg.input-block.w-50#date
#time-section
  %hr
  %h4 Время
  %p Выберите время резервации
  #scheduler_here.dhx_cal_container{style: "width:60%; height:800px;"}
    .dhx_cal_header
    .dhx_cal_data
  = javascript_include_tag 'calendar_customer_form', 'data-turbolinks-track': true
#services-section
  %hr
  %h4 Услуги
  %p Выберите дополнительные услуги
  %select.selectpicker.w-50#services-select{'data-container': 'body', multiple: true, 'data-selected-text-format': 'count > 3', 'data-live-search': 'true'}
    - services = Service.all
    - services.categories.keys.each do |category|
      %optgroup{label: category}
        - services.where(category: category).each do |service|
          %option{value: service.id, 'data-subtext': "$#{service.price}"}= service.name
#confirmation-section.pb-5
  %hr
  %h4 Подтверждение
  %p Проверьте все данные и нажмите кнопку "Создать резервацию":
  %p Стоимось резервации:
  %p#services-price Услуги: 0 Руб.
  %p#rental-price Аренда комнаты: 0 Руб.
  = button_tag 'Создать резервацию', class: 'btn btn-primary w-50', id: 'submit-button'