%link{href: "https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css", rel: "stylesheet", type: "text/css"}
%script{src: "https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"}
=javascript_pack_tag 'datepicker'

= form_with(model: reservation) do |form|
  - if reservation.errors.any?
    #error_explanation
      %h2
        = pluralize(reservation.errors.count, "error")
        prohibited this reservation from being saved:
      %ul
        - reservation.errors.each do |error|
          %li= error.full_message
  = form.hidden_field :room_id, value: params[:room_id] ? params[:room_id] : @reservation.room_id
  .form-group.mb-3
    = form.label :user_id, class: "form-label"
    = form.select :user_id, User.pluck(:name, :id), {}, {class: 'selectpicker', 'data-live-search': "true"}
  .form-group.mb-3
    = form.label :start_time
    = form.text_field :start_time, id: 'date', class: 'w-25', data: { minTime: @organization.opening_time.strftime('%H:%M'), maxTime: @organization.closing_time.strftime('%H:%M') }
  .form-group.mb-3
    = form.label :end_time
    = form.time_field :end_time, id: 'end_time'
    /%input.form-control-range.w-25#hours{type: 'range', min: 1, max: 6, onInput: 'update_end_time()'}
  .actions
    = form.submit class: 'btn btn-primary mb-2'

:javascript
  function update_end_time() {
    var ending_time = new Date($('#date').getDate())
    var hours = $('#hours').val()
    console.log(ending_time)
    ending_time.setTime(ending_time.getTime() + (hours*60*60*1000));
    $('#end_time').val(ending_time)
  }