=javascript_pack_tag 'datepicker'
= stylesheet_link_tag 'dhtmlxscheduler_material', media:'all','data-turbolinks-track': true
= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track': true
= javascript_include_tag 'ext/dhtmlxscheduler_limit', 'data-turbolinks-track': true
= javascript_include_tag 'ext/dhtmlxscheduler_recurring', 'data-turbolinks-track': true

%h2 Make a reservation
#organization-section
  %hr
  %h4 Organization
  %p Please select the organization you are reserving for: 
  = select(:organization, :organization_id, Organization.all.pluck(:name, :id), {}, {class: 'selectpicker w-50'})
#date-section
  %hr
  %h4 Date and time
  %p Choose a date for the reservation
  %input.datepicker.form-control.input-lg.input-block.w-50#date
#time-section
  %hr
  %h4 Time
  %p Choose a time for the reservation
  #scheduler_here.dhx_cal_container{style: "width:60%; height:800px;"}
  .dhx_cal_data
  = Gon::Base.render_data
  = javascript_include_tag 'calendar_customer_form', 'data-turbolinks-track': true
