%p#notice= notice
%p
  %strong User:
  = @reservation.user.name
%p
  %strong Room:
  = "#{@reservation.room.organization.name} | #{@reservation.room.number}"
%p
  %strong Start time:
  = @reservation.start_time
%p
  %strong End time:
  = @reservation.end_time
= link_to 'Edit', edit_reservation_path(@reservation)
|
= link_to 'Back', reservations_path
