%p
  %strong Пользователь:
  = @reservation.user.name
%p
  %strong Комната:
  = "#{@reservation.room.organization.name} | #{@reservation.room.number}"
%p
  %strong Время:
  = "#{@reservation.start_time.strftime('%H:%M')}-#{@reservation.end_time.strftime('%H:%M')}"

= link_to 'Изменить', edit_reservation_path(@reservation)
|
= link_to 'Назад', room_path(@reservation.room)