= form_with(model: room, class: 'w-50') do |form|
  - if room.errors.any?
    #error_explanation
      %h2
        Возникли ошибки
      %ul
        - room.errors.each do |error|
          %li= error.full_message
  = form.label :organization, 'Организация', class: 'form-label'
  .input-group.mb-3
    = form.select :organization_id, Organization.pluck(:name, :id), {}, {class: 'custom-select'}
  = form.label :number, 'Номер', class: 'form-label'
  .input-group.mb-3
    = form.text_field :number, class: 'form-control'
  = form.label :size, 'Размер', class: 'form-label'
  .input-group.mb-3
    = form.text_field :size, class: 'form-control'
    .input-group-append
      %span.input-group-text m²
  = form.label :capacity, 'Вместимость', class: 'form-label'
  .input-group.mb-3
    = form.text_field :capacity, class: 'form-control'
    .input-group-append
      %span.input-group-text человек
  = form.label :hourly_payment, 'Тариф', class: 'form-label'
  .input-group.mb-3
    = form.text_field :hourly_payment, class: 'form-control'
    .input-group-append
      %span.input-group-text BYN
  .actions
    = form.submit 'Создать комнату', class: 'btn btn-primary mb-3'
