= form_with(model: room) do |form|
  - if room.errors.any?
    #error_explanation
      %h2
        = pluralize(room.errors.count, "error")
        prohibited this room from being saved:
      %ul
        - room.errors.each do |error|
          %li= error.full_message
  .field
    = form.label :organization_id
    = form.text_field :organization_id
  .field
    = form.label :number
    = form.text_field :number
  .field
    = form.label :size
    = form.text_field :size
  .field
    = form.label :capacity
    = form.text_field :capacity
  .field
    = form.label :hourly_payment
    = form.text_field :hourly_payment
  .actions
    = form.submit
