%p#notice= notice
=javascript_include_tag 'reservations_datatable'
= link_to '< Назад', rooms_path
%h2.mb-3.mt-2="Комната №#{@room.number} в организации #{@room.organization.name}"
.row
  .col-4
    %p
      %strong Организация:
      = link_to(@room.organization.name, organization_path(@room.organization))
    %p
      %strong Размер:
      = @room.size
      m²
    %p
      %strong Вместимость:
      = @room.capacity
      человек
    %p
      %strong Тариф:
      = @room.hourly_payment
      Руб.
    =button_to 'Редактировать', edit_room_url(@room), method: 'get', class: 'btn btn-secondary'
  .col-8.d-flex.justify-content-end
    .card.bg-dark.text-white.w-75.d-flex.justify-content-end
      =image_tag 'room.jpeg', class: 'rounded card-img', style: 'filter: brightness(50%)'
      .card-img-overlay.d-flex.h-100
        %h2.text-center.w-100.align-self-center="Комната #{@room.number}"