%h2.mb-3.mt-2.align-center="Организация #{@organization.name}"
%nav.mb-2
  #nav-tab.nav.nav-tabs{role: "tablist"}
    %a#nav-overview-tab.nav-link.active{"aria-controls": "nav-overview", "aria-selected": "true", "data-toggle": "tab", href: "#nav-overview", role: "tab"} Обзор 
    %a#nav-rooms-tab.nav-link{"aria-controls": "nav-rooms", "aria-selected": "false", "data-toggle": "tab", href: "#nav-rooms", role: "tab"} Комнаты
    %a#nav-reservations-tab.nav-link{"aria-controls": "nav-reservations", "aria-selected": "false", "data-toggle": "tab", href: "#nav-reservations", role: "tab"} Резервации

#nav-tabContent.tab-content
  /Overview tab
  #nav-overview.tab-pane.fade.show.active{"aria-labelledby": "nav-overview", role: "tabpanel"}
    %p
      %strong Владелец:
      = @organization.user.name
    %p
      %strong Адрес:
      = @organization.adress
    %p
      %strong Время открытия:
      = @organization.opening_time.strftime('%H:%M')
    %p
      %strong Время закрытия:
      = @organization.closing_time.strftime('%H:%M')
    =button_to 'Редактировать', edit_organization_path(@organization), method: 'get', class: 'btn btn-secondary'
  
  /Rooms tab
  #nav-rooms.tab-pane.fade{'aria-labelledby': "nav-rooms", role: "tabpanel"}
    .row.row-cols-5
      -@organization.rooms.each do |room|
        .col.card.border-primary.m-3
          .card-body
            %h5.card-title="Комната #{room.number}"
            %p.card-text
            =link_to '', room_path(room), class: 'stretched-link'
      .col.card.border-primary.m-3{style: "width: 6rem;"}
        .card-body.d-flex.h-100.justify-content-center.align-self-center
          %p.text-muted Добавить комнату
          =link_to '', new_room_path(organization_id: @organization.id), class: 'stretched-link'
  
  /Reservations tab
  #nav-reservations.tab-pane.fade{"aria-labelledby": "nav-reservations", role: "tabpanel"} 
    #calendar_container
      = render 'schedule'