= form_with(model: organization) do |form|
  - if organization.errors.any?
    #error_explanation
      %h2
        = pluralize(organization.errors.count, "error")
        prohibited this organization from being saved:
      %ul
        - organization.errors.each do |error|
          %li= error.full_message
  .field
    = form.label 'Owner'
    = form.select :user_id, (User.owner + User.admin).pluck(:name, :id), class: 'form-select'
  .field
    = form.label :adress
    = form.text_field :adress
  .field
    = form.label :opening_time
    = form.time_select :opening_time
  .field
    = form.label :closing_time
    = form.time_select :closing_time
  .actions
    = form.submit 'Create', class: 'btn btn-primary'
