= form_with(model: organization, html: { class: 'edit-user' }) do |form|
  - if organization.errors.any?
    #error_explanation
      %h2 Возникли ошибки
      %ul
        - organization.errors.each do |error|
          %li= error.full_message
  %hr
  - if action_name == 'edit'
    %h4 Редактировать организацию
    %p Здесь Вы можете изменить данные организации.
  .form-group
    = form.label :name, 'Название'
    = form.text_field :name, class: "form-control", placeholder: 'Название'
  - if current_user.admin? 
    .form-group
      = form.label 'Владелец'
      = form.select :user_id, (User.owner + User.admin).pluck(:name, :id)
  .form-group
    = form.label :adress, 'Адрес'
    = form.text_field :adress, class: "form-control", placeholder: 'Адрес'
  .form-group
    = form.label :opening_time, 'Время открытия'
    = form.time_select :opening_time
    = form.label :closing_time, 'Время закрытия'
    = form.time_select :closing_time
  .actions
    = form.submit "#{action_name == 'edit' ? 'Обновить' : 'Создать'} организацию", class: 'btn btn-primary'
  %hr
- if action_name == 'edit'
  .edit-user
    %h4 Удалить организацию
    %p Если вы удалите организацию, все резервации и комнаты в ней также будут удалены. Вы уверены?
    = button_to 'Удалить организацию', organization, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger'
    %hr